body{

    background: linear-gradient(to bottom ,#FFFF55,#FF5555 ,#FF55FF,#55FF55  );
    background: radial-gradient(circle, #dd3c3c, #4f5da2 );
    background-position: bottom;
}

h1{
    text-align: center;
   
}

p{
    text-align: start;
    font-size: 25px;
}

images{
    display: flex;
  justify-content: center;
  align-items: center;
  
}



.video-container {
    text-align: center;
    
}


